img {
  display: none;
}

body {
  background: #f5f5f5;
  margin: 0px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

a {
  color: inherit;
  font-family: inherit;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
  min-height: 100vh;
  font-family: "Inconsolata", monospace;
  font-size: 50px;
  border: 15px solid #bed8d4;
  padding-left: 75px;
  background: black;
  color: #bed8d4;
}

.hamburger {
  outline: none;
}

.is-active {
  background-color: black !important;
}

.hamburger-inner {
  background-color: #bed8d4 !important;
}

.hamburger-inner::before {
  background-color: #bed8d4 !important;
}

.hamburger-inner::after {
  background-color: #bed8d4 !important;
}

header > h1 {
  border: none;
}

.menu-overlay {
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.7);
  z-index: 10;
  position: fixed;
  border: 15px solid black;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  padding-left: 75px;
  padding-bottom: 75px;
  background: #bed8d4;
}

.menu-overlay a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

.menu-list {
  list-style: none;
  padding-left: 0;
  font-size: 50px;
}

.about-container {
  width: 100%;
  min-height: 100vh;
  border: 15px solid black;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-left: 75px;
  padding-bottom: 75px;
  background: #bed8d4;
}

h1 {
  border-bottom: 5px solid;
  border-color: inherit;
  display: inline-block;
  font-size: 50px;
  font-family: "Inconsolata", monospace;
}

h2 {
  border-bottom: 5px solid black;
  display: inline-block;
  font-size: 30px;
  font-family: "Inconsolata", monospace;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  font-size: 50px;
  align-items: center;
}

.menu-button {
  margin-left: 5px;
  margin-top: 5px;
}

.close-menu {
  margin-left: 5px;
  margin-top: 5px;
  padding-right: 30px;
}

.about-heading {
  border-bottom: 5px solid black;
  display: inline-block;
  font-size: 50px;
  font-family: "Inconsolata", monospace;
}

.about-intro {
  font-family: "Inconsolata", monospace;
  font-size: 30px;
}

.interests-list {
  margin-bottom: 75px;
}

.work-container {
  width: 100%;
  min-height: 100vh;
  border: 15px solid black;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-left: 75px;
  background: #bed8d4;
}

.work-container > a {
  margin-bottom: 20px;
  font-family: "Inconsolata", monospace;
}

.work-container > a:hover {
  background: black;
  color: #bed8d4;
  cursor: pointer;
}

.contact-container {
  width: 100%;
  min-height: 100vh;
  border: 15px solid black;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  padding-left: 75px;
  background: #bed8d4;
}

.icons > a {
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

input[type="text"] {
  width: 50%;
  height: 2.5em;
  background: #bed8d4;
  box-shadow: none;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid black;
  font-family: "Inconsolata", monospace;
  color: black;
  font-size: 20px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}

textarea {
  width: 50%;
  height: 5em;
  background: #bed8d4;
  box-shadow: none;
  outline: none;
  border: 5px solid black;
  font-family: "Inconsolata", monospace;
  color: black;
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: -20px;
}

input[type="submit"] {
  width: 10em;
  height: 2.5em;
  margin-bottom: 25px;
  font-family: "Inconsolata", monospace;
  background: #bed8d4;
  font-size: 20px;
  border: 5px solid black;
}

.contact-container button {
  width: 10em;
  height: 2.5em;
  margin-bottom: 25px;
  font-family: "Inconsolata", monospace;
  background: #bed8d4;
  font-size: 20px;
  border: 5px solid black;
}

.contact-container button:hover {
  background: black;
  color: #bed8d4;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: black;
  color: #bed8d4;
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #bed8d4 inset;
}

footer {
  width: 100%;
  min-height: 50vh;
  border: 15px solid #bed8d4;
  font-family: "Inconsolata", monospace;
  //font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-left: 75px;
  background: black;
  color: #bed8d4;
}

.footer-menu a {
  color: #bed8d4;
  text-decoration: none;
}

.footer-menu a:link {
  color: #bed8d4;
}

.footer-menu a:hover {
  text-decoration: underline;
  text-decoration-color: #bed8d4;
}

.footer-menu {
  list-style: none;
  padding-left: 0;
  font-size: 30px;
}

/*RESPONSIVE STYLES*/

/*Small devices*/
@media (max-width: 500px) {
  header {
    font-size: 40px;
    padding-right: 25px;
    padding-left: 25px;
  }

  h1 {
    border-bottom: none;
    font-size: 40px;
  }

  h2 {
    border-bottom: none;
    font-size: 25px;
  }

  h2:after {
    content: "";
    display: block;
    //margin: 0 auto;
    width: 50%;
    padding-top: 10px;
    border-bottom: 5px solid black;
  }

  h1:after {
    content: "";
    display: block;
    //margin: 0 auto;
    width: 50%;
    padding-top: 10px;
    border-bottom: 5px solid black;
  }

  a {
    margin-bottom: 50px;
  }

  .menu-container {
    padding-right: 0px;
    padding-top: 5px;
    margin-right: 0px;
  }

  .menu-container > p {
    font-size: 50px;
    display: none;
  }

  .about-container {
    padding-right: 25px;
    padding-left: 25px;
  }

  .work-container {
    padding-right: 55px;
    padding-left: 25px;
    padding-bottom: 25px;
  }

  .contact-container {
    padding-right: 25px;
    padding-left: 25px;
  }

  textarea {
    width: 75%;
  }

  input[type="submit"] {
    width: 75%;
  }

  footer {
    padding-right: 25px;
    padding-left: 25px;
  }
}
